@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto:wght@300;400&display=swap');

/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        4.3 Work

    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html  {
    font-size: 14px;
}

img {
    width: 100%;
}

:root {
    --chrysler-blue: #5722cdff;
    --majorelle-blue: #4b49e8ff;
    --magnolia: #f2f0ffff;
    --french-rose: #ed4385ff;
    --night: #0c0c0cff;
    --licht-grey: #F3F6F9;
    --grey:  #7A7A7A;
}


body {
    font-family: 'Roboto', 'Arial', sans-serif;
    color: var(--night);
}

input,
button {
    font-family: inherit;
    font-size: inherit;
}

h1,
h2 {
    font-family: 'Merriweather', 'Times New Roman', serif;
}

a,
a:visited {
    text-decoration: none;
    color: var(--chrysler-blue);
}

a:hover {
    cursor: pointer;
}



button {
    background-color: var(--french-rose);
    color: var(--magnolia);
    text-transform: uppercase;
    padding: 1rem 1rem;
    margin: 1rem 1rem;
    border-radius: 30px;
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    border: 1px solid var(--french-rose);
}

/* ------------------------------- 2. Typography ----------------------------------- */


/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

.outer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 2px solid black;
    margin: 0 20px;
}

.inner-container {
    flex-basis: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px dotted red;
    margin: 4rem 10rem;
}

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */

header {
    background: rgb(72,69,228);
    background: linear-gradient(90deg, rgba(72,69,228,1) 52%, rgba(87,34,205,1) 100%);
    color: var(--magnolia);
    font-weight: 300;
    position: relative;
}

.header-column {
    display: flex;
    flex-direction: column;
}

header h1 {
    text-align: center;
    padding: .5em;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-basis: auto;
    flex-shrink: 1;
    flex-grow: 0;
    list-style: none;
    border: 1px dashed green;
    margin: 0;
    padding: 0;
}

.navigation li ul {
    display: inline-block;
    padding: 1em 2em;
}

.navigation a {
    color: var(--magnolia);
}



.header-squiggle {
    position: absolute;
    width: 5em;
    bottom: 0;
}

/* --------------- 4.2 Introduction ------------------- */

.hello {
    color: var(--chrysler-blue);
}

.hello h2 {
    text-align: center;
}

.hello p {
    color: var(--night);
    font-weight: 600;
    margin: 10rem 0 0 0;
    border: 1px solid green;
}

/* --------------- 4.3 Work ------------------- */

/*inner container moet standaard net zo groot als outer container worden*/

.work .inner-container {

    margin: 10px;
    background-color: var(--licht-grey);
}

/*flex basis wordt op de hoogte toegepast maar is row flexbox.*/

.work article {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    border: 1px solid mediumpurple;
    padding: 20px;
    margin: 20px;
}

.work h2 {
    text-align: left;
}

.work article:nth-child(even) {
    flex-direction: row;
}

/*flex basis vs max width?*/

.picture-work {
    flex-basis: 40em;
    flex-grow: 0;
    flex-shrink: 1;
    border: 3px solid goldenrod;
}

.description-work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 20em;
    padding: 3em;
    border: 1px solid pink;

}

.work-squiggle {
    max-width: 40px;
    margin: 2em 0;
}

.work a,
.work a:visited {
    text-transform: uppercase;
    margin: 2em 0;
}

/* ------------------------------- 5. Media Queries -------------------------------- */